@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.galeria{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin:0 auto;
    padding: 60px 0;
}


.titulo__galeria{
    font-size: 2rem;
    margin-bottom: 1em;
}

.contenedor__galeria{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    
}

.contenedor__imagen{
    min-width: 200px;
    flex-basis: 280px;
    flex-grow: 1;
}

.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;

}